/*<div>
            <p>Vols</p>
            <i class="fa-solid fa-plane"></i>
          </div>*/

@media (max-width: 1184px) {
  menu > div {
    border: 10px solid yellow;
    flex: 1;
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}
